/* **************** */
/* General */
/* **************** */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
}

/* **************** */
/* Header */
/* **************** */

#global_nav {
    position: relative;
    padding-top: 32px;
}

#global_nav ul {
    list-style-type: none;
    margin: 0 32px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #aaaaaa;
}

#global_nav ul li {
    padding-bottom: 16px;
    letter-spacing: 0.5px;
    color: #aaaaaa;
    cursor: pointer;
}

#global_nav ul li:hover {
    color: #4682B4;
}

#global_nav ul li.active {
    color: #000000;
}

.nav_slide_line{
    position: absolute;
    bottom: 0;
    height: 1.8px;
    background-color:#000000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* **************** */
/* contents */
/* **************** */

main {
    /* "height of header"=67px */
    height: calc(100vh - 67px - 120px);
    padding-top: 120px;
}

#time_display_section h1 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
}

.time_display_card {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arizonia', cursive;
    color: #555555;
    border-radius:10px;
    border-top: 0.25px solid #cccccc;
    border-left: 0.25px solid #cccccc;
    border-bottom: 1.25px solid #aaaaaa;
    border-right: 1.25px solid #aaaaaa;
    margin: 0 auto;
    height: 140px;
    width: 280px;
    padding: 8px;
}

.inner_border {
    position: absolute;
    height: 140px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-image:
        linear-gradient(to right, #d8031c, #d8031c 6px, transparent 6px, transparent 16px, #01016f 16px, #01016f 22px, transparent 22px, transparent 32px),
        linear-gradient(to right, #d8031c, #d8031c 6px, transparent 6px, transparent 16px, #01016f 16px, #01016f 22px, transparent 22px, transparent 32px),
        linear-gradient(to bottom, #d8031c, #d8031c 6px, transparent 6px, transparent 16px, #01016f 16px, #01016f 22px, transparent 22px, transparent 32px),
        linear-gradient(to bottom, #d8031c, #d8031c 6px, transparent 6px, transparent 16px, #01016f 16px, #01016f 22px, transparent 22px, transparent 32px);
    background-size: 32px 3px, 32px 3px, 3px 32px, 3px 32px;
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    pointer-events: none;
}

#current_time {
    font-size: 48px;
}

.photo_copy_right {
    position: absolute;
    bottom: 0;
    right: 8px;
    padding: 4px;
    font-size: smaller;
    color: #555555;
    background-color: #dddddd;
}

/* **************** */
/* Animation/effect */
/* **************** */

.tilt {
    transition: transform 0.6s;
    transform: rotateZ(-12deg);
}

.bottom_shadow {
    bottom:1px;
    z-index:-1;
    box-shadow: 0 4px 2px -4px #555555;
}

.flip {
    animation: card_flip 1.8s ease;
}

@keyframes card_flip {
  0%   {transform: rotateY(0deg) rotateZ(-12deg); }
  100% {transform: rotateY(720deg) rotateZ(-12deg);}
}